beautifulsoup4==4.11.1
feedparser==6.0.10
ipykernel==6.9.1
joblib==1.1.0
jupyter
jupyter_client==7.2.2
jupyter_core==4.10.0
matplotlib-inline==0.1.2
nltk==3.7
numpy==1.21.5
pyparsing==3.0.4
pandas
python-dateutil==2.8.2
regex==2022.3.15
tqdm==4.64.0
twint==2.1.20
Scrapy
tweepy==1.7.1
sastrawi
tweet-preprocessor